*{
    margin: 0;
    padding: 0;
}
.main{
    width: 90%;
    margin: auto;
    /* border: 1px solid rgb(252, 252, 252); */
    display: grid;
}
.grid-temp-cols{
    grid-template-columns: 400px 900px;
    grid-column-gap: 10px;
}
.welcome{
    font-size: 30px;
    color: blue;
}