Flask
flask-cors
together
python-dotenv
requests
Pillow
cloudinary
pymongo
torch
transformers
torchvision
pandas
numpy
datasets 
accelerate
dnspython
gunicorn
authlib
werkzeug
jwt
pymupdf
bs4